<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Fold for Covid @ <%= deviceName %></title>
  <link rel="stylesheet" href="views/style.css" />
</head>

<body>
  <nav>
    <section class="info">
      <img src="views/logo-on-dark.svg" alt="Balena logo" class="logo" />
      <div class="links">
        <a href="https://foldforcovid.io/" target="_blank">Visit foldforcovid.io</a>
        <a href="https://www.boincstats.com/stats/-1/team/detail/8ecbdda89d8db23cb750b3ba67985537" target="_blank">View
          Rosetta team stats</a>
        <a href="https://boinc.bakerlab.org/rosetta/show_host_detail.php?hostid=<%= hostId %>" target="_blank">View
          device stats</a>
      </div>
    </section>
    <form method="post" class="buttons">
      <button type="submit" formaction="/manage/shutdown">
        Shutdown
      </button>
      <button type="submit" formaction="/manage/reboot">
        Reboot
      </button>
      <div class="envvar">
        <details>
          <summary>Change Account Key</summary>
          <input type="text" name="accountKey" />
          <button type="submit" formaction="/manage/setkey">Apply</button>
        </details>
      </div>
    </form>
  </nav>
  <iframe id="tty" width="100%" height="90%" frameborder="0"
    onload="if(document.getElementById('tty').src == '') { document.getElementById('tty').src = window.location.protocol + '//' + window.location.hostname + ':8080/'; }"></iframe>

  <script></script>
</body>

</html>